<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body>
    <%- include("../partials/header") -%>

    <div class="container" id="main-container">
        <article>
            <div class="sidebar">
                <img src="/images/hanLu.jpg" alt="Han Lu">
            </div>
            <div class="container-context">
                <h1><%= title %></h1>
                <p>Hi. My name is Han Lu. You can call me Tony. I'm doing software engineering technology
                    in Centennial College.
                </p>
            </div>
        </article>


    </div>

    <%- include("../partials/footer") -%>

</body>

</html>