<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Projects</title>
</head>

<body>
    <%- include("../partials/header") -%>
    <div class="container">
        <h1><%= title %></h1>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Web server set up</h5>
                    <small>$4.99</small>
                </div>
                <p class="mb-1">
                    Get a Node js web server with 10 routes and a database connected.
                </p>
                <small>every one more route for $0.99</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Front-end web design</h5>
                    <small class="text-muted">$9.99</small>
                </div>
                <p class="mb-1">
                    Get a custmized web page with nice layouts. Css and Javascript will be used to add on the features.
                </p>
                <small class="text-muted">one for $5.99 when get more than 10 pages</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Windows app development</h5>
                    <small class="text-muted">from $99</small>
                </div>
                <p class="mb-1">
                    Get a well performanced and nicely designed Java application. Charges vary on different projects.
                </p>
                <small class="text-muted">Prices include fixed fees plus hourly rate.</small>
            </a>
        </div>
    </div>

    <%- include("../partials/footer") -%>
</body>

</html>