<header>
    <div class="container">
        <img src="images/logo_han.png" alt="logo">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">My Projects</a></li>
                <li><a href="/contact">Contact Me</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/aboutme">About Me</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/contacts">Contacts list</a></li>
            </ul>
        </nav>
    </div>
</header>